body {
  padding-top: 51px;
}

#map {
  height: 100vh;

}

.dropdown {
position: absolute;
z-index: 1;
margin-top: 20px;
}

.navbar-brand {
  width: 80%;
  font-size: 1em;
}

.text-center {
  padding-top: 50px;
}
.col-xs-12 {
  background-color: #fff;7yg
}
#sidebar {
  height: 100vh;
  max-height: 100vh;
  padding-right: 0;
  padding-top: 20px;
  overflow-y: scroll;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
/*Credit for offcanvas: http://www.bootply.com/z1oEg3qKPM */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}
